/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
}

/* Шрифты и основной стиль страницы */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Стили для header */
.header {
    background-color: #0078d4;
    color: #fff;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

/* Стили для основного контента (main) */
.main h1 {
    text-align: center;
    margin-bottom: 24px;
}

.main h2 {
    font-weight: normal;
    background-color: #eee;
    margin-bottom: 20px;
}

.main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

/* Стили для навигации (nav) и футера (footer) */
.nav__list {
    display: flex;
    list-style: none;
    background-color: #0078d4;
}

.nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav__link,
.footer__link {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

/* При наведении на ссылки меню */
.nav__link:hover,
.footer__link:hover {
    background-color: #dddddda4;
    /* Цвет фона при наведении*/
}

.nav__link_active {
    text-decoration: underline;
}

.footer {
    background-color: #0078d4;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Дополнительные стили для основного контента (main) */
.main__text {
    font-size: 16px;
    line-height: 1.5;
}

.main__list {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 16px;
}

.main__quote {
    font-style: italic;
}

.main__cite {
    font-weight: bold;
}

.main__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}

.main__table-row,
.main__table-cell,
.main__table-header {
    border: 1px solid #ddd;
    padding: 8px;
}

.main__table-header {
    background-color: #f2f2f2;
}

.main__link {
    color: #0078d4;
    text-decoration: none;
}

.main__link:hover {
    text-decoration: underline;
}

/* Стили для блока контактной информации (contact-info) */
.contact-info__list {
    margin-bottom: 16px;
}

/* Общие стили, которые применяются всегда */

/* Стили для широких экранов (больше 768px) */
@media screen and (min-width: 768px) {
    .header__logo {
        width: 110px;
    }

    .nav__list {
        display: flex;
        padding: 24px 0;
        list-style: none;
    }

    .nav__link,
    .footer__link {
        color: #fff;
        text-decoration: none;
        font-style: italic;
        padding: 5px 10px;
        margin-right: 5px;
        display: inline-block;
    }

    .nav__link:hover,
    .footer__link:hover {
        background-color: #dddddda4;
    }

    .nav__link_active {
        text-decoration: underline;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav__button {
        display: none;
    }
}


/* Стили для узких экранов (меньше 768px) */
@media screen and (max-width: 767px) {
    .header__logo {
        width: 80px;
    }


    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Центрирование содержимого по горизонтали */
        align-items: center;
    }


    .nav__link,
    .footer__link {
        display: block;
        text-align: center;
        margin: 5px 0;
        color: #fff;
        text-decoration: none;
        font-style: italic;
    }


    .header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .nav__link:hover,
    .footer__link:hover {
        background-color: #dddddda4;
    }

    .nav__link_active {
        text-decoration: underline;
    }
}

/* Стили для очень узких экранов (меньше 390px) */
@media screen and (max-width: 390px) {
    .header__logo {
        width: 60px;
    }

    body {
        max-width: 100%;
        /* Установим максимальную ширину контента в 100% */
        margin: 0 auto;
        /* Центрируем контент внутри .main__content */
        /* padding: 0 16px; */
        /* Добавим небольшие внутренние отступы по бокам */
    }

    .main h1 {
        font-size: 1.5em;
        margin-bottom: 24px;
    }

    .main h2 {
        font-size: 1.2em;
        margin-bottom: 16px;
    }

    .main p {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .main__list {
        padding-left: 10px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}