* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD

/* Шрифты и основной стиль страницы */
=======>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 body {
    font-family: 'Open Sans', sans-serif;
}

<<<<<<< HEAD

/* Стили для header */
=======>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .header {
    background-color: #0078d4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    <<<<<<< HEAD
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

=======padding-top: 24px;
padding-bottom: 24px;
}

.footer {
    background-color: #0078d4;
    color: #fff;
    padding: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
}

>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .header__logo {
    width: 110px;
    height: auto;
    margin-right: 10px;
}

<<<<<<< HEAD

/* Стили для основного контента (main) */
=======>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .main h1 {
    text-align: center;
    margin-bottom: 24px;
}

.main h2 {
    font-weight: normal;
    background-color: #eee;
    margin-bottom: 20px;
}

.main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

<<<<<<< HEAD

/* Стили для навигации (nav) и футера (footer) */
=======>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .nav__list {
    display: flex;
    /* padding: 24px 0; */
    list-style: none;
    background-color: #0078d4;
    <<<<<<< HEAD
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

.nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

=======
}

>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .nav__link,
.footer__link {
    color: #fff;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-style: italic;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

.nav__link_active {
    text-decoration: underline;
}

.footer {
    background-color: #0078d4;
    color: #fff;
    <<<<<<< HEAD
    /* margin-top: 24px; */
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Дополнительные стили для основного контента (main) */
=======margin-top: 24px;
}

>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .main__text {
    font-size: 16px;
    line-height: 1.5;
}

.main__list {
    padding-left: 20px;
    /* Левый отступ для элементов списка */
    list-style-type: none;
    margin-bottom: 16px;
}

<<<<<<< HEAD=======
/* .main__item {
    font-family: Arial, sans-serif;
} */

>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .main__quote {
    font-style: italic;
}

.main__cite {
    font-weight: bold;
}

.main__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}

.main__table-row,
.main__table-cell,
.main__table-header {
    border: 1px solid #ddd;
    padding: 8px;
}

.main__table-header {
    background-color: #f2f2f2;
}

<<<<<<< HEAD=======
/* .main__image {
    width: 100%;
    height: auto;
} */

>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .main__link {
    color: #0078d4;
    text-decoration: none;
}

.main__link:hover {
    text-decoration: underline;
}

<<<<<<< HEAD

/* Стили для блока контактной информации (contact-info) */
=======>>>>>>>5b5f2cf198a80847193b789a946f4fe16e0fe9d4 .contact-info__list {
    margin-bottom: 16px;
}