header {
    background-color: #0078d4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #0078d4;
    color: #fff;
    padding: 10px;
}

.logo {
    width: 110px;
    height: auto;
    margin-right: 10px;
    /* Отступ справа от логотипа */
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    font-weight: normal;
    background-color: #eee;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family:
        'Roboto',
        Helvetica, Arial, sans-serif;
}

input,
textarea {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
}

.nav_link,
.footer_link {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-style: italic;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

.nav_link_active {
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* При наведении на ссылки меню */
.nav_link:hover,
.footer_link:hover {
    background-color: #dddddda4;
    /* Цвет фона при наведении*/
}

/* Стили для таблицы */
table {
    /* width: 100%; */
    border-collapse: collapse;
    /* Убираем отступы между ячейками таблицы */
}

table,
th,
td {
    border: 1px solid #ddd;
    /* Границы таблицы и ячеек */
}

th,
td {
    padding: 5px;
}